/* Override some defaults */
body {
  padding-top: 60px;
  padding-bottom: 40px;
}
.sidebar-nav {
  padding: 9px 0;
}
.navbar {
  margin-bottom: 0;
}
.container > footer {
  margin-top: 20px;
}
.container > footer p {
  text-align: center; /* center align it with the container */
}

/* Page header tweaks */
.page-header {
  padding: 30px;
  margin: 0 0 30px 0;
}
.page-header h1 {
  font-size: 35px;
}

/* tag_box ======================================================== */
.tag_box {
	list-style:none;
	margin:0;
	/*padding:5px 0 ;*/
	overflow:hidden;
}
.tag_box li {
	line-height:28px;
}
.tag_box.inline li {
	float:left;
}
.tag_box a {
	/*background: #eee;
	padding: 3px 6px;
	margin: 2px;*/
	padding-top: 3px !important;
	color:#005F6B;
	border-radius: 3px;
	text-decoration:none;
}
.tag_box a span{
	vertical-align:super;
	font-size:0.8em;
}
.tag_box a.active {
	background:#57A957;
	border:1px solid #4C964D;
	color:#FFF;
}

/* tag page */
.tab-content {
	margin: 4px 0px;
}
.tab-content ul {
	list-style:none;
}
.tab-content .tab-pane ul.nav li span {
	display: inline;
	float: left;
	width: 150px;
	overflow: hidden;
}
.tab-content .tab-pane ul.nav li a {
	display: inline;
}
.tab-content .tab-pane ul.nav li, .tab-content .tab-pane h3 {
	clear: both;
}
