<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    {% if post.excerpt %}<meta name="description" content="{{ post.excerpt }}">{% endif %}
	<meta name="author" content="{{ site.author.name }}">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link href="/assets/css/main.min.css" rel="stylesheet" type="text/css" media="all">
	<script type="text/javascript" src="/assets/js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="/assets/bootstrap/js/bootstrap.min.js"></script>
	<link rel="alternate" type="application/atom+xml" href="atom.xml" title="Atom feed">
	    
    <link rel="shortcut icon" href="/favicon.ico">
    <!-- Update these with your own images    
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  -->
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="{{ HOME_PATH }}">{{ site.title }}</a>
		  <div class="nav-collapse">
			<ul class="nav">
			  <li><a href="/Life">Life</a></li>
			  <li><a href="/J2EE/">J2EE</a></li>
			  <li><a href="/Linux/">Linux</a></li>
			  <li><a href="/Cloud/">Cloud</a></li>
			  <li class="divider-vertical"></li>
			  <li><a href="/categories.html">Categories</a></li>
			  <li><a href="/archive.html">Archive</a></li>
			  <li><a href="/tags.html">Tags</a></li>			  
			  <li><a href="/gists.html">Gists</a></li>
			  <li class="divider-vertical"></li>
			  <li class="dropdown">
			    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Project<b class="caret"></b></a>
			    <ul class="dropdown-menu">
				  <li class="nav-header">正式产品</li>
				  <li><a href="http://114.im47.cn" target="_blank">网址导航114</a></li>
				  <li><a href="http://dreambt.github.com/cms4j" target="_blank">内容管理系统cms4j</a></li>
				  <li><a href="/portfolio/alarmclock" target="_blank">桌面小闹钟AlarmClock</a></li>
				  <li class="divider"></li>
				  <li class="nav-header">孵化产品</li>
				  <li><a href="/CloudAlbum" target="_blank">云存储CloudStroage</a></li>
				  <li><a href="/portfolio/aegis" target="_blank">基于公私密钥对的软件授权中间件Aegis</a></li>
			    </ul>
			  </li>
			  <li><a href="/contact.html">Contact</a></li>
			  <li><a href="/about.html">About</a></li>			  
            </ul>
	      </div>
        </div>
      </div>
    </div>

    <div class="container-fluid">
		<div class="row-fluid">			
			<div class="span10 offset1">
				{{ content }}
			</div>
		</div>
	</div>
	<div class="back-mask" id="back-mask"></div>

<footer id="footer">
	<div id="footer_inner">
		<div class="archives col">
			<h2>About Me</h2>
			<a href="/about.html">思奇</a>
			<p>网龄 11 年</p>
			<p>专注 J2EE、Linux、Cloud等领域</p>
		</div>
		<div class="tag_cloud col">
			<h2>Tag Cloud</h2>			
			<ul>
			  {% assign categories_list = site.categories %}
			  {% if categories_list.first[0] == null %}
				{% for category in categories_list %}
					<a class="tag" href="{{ BASE_PATH }}{{ site.JB.categories_path }}#{{ category }}-ref">{{ category | join: "/" }}</a>
				{% endfor %}
			  {% else %}
				{% for category in categories_list %} 
					<a class="tag" href="{{ BASE_PATH }}{{ site.JB.categories_path }}#{{ category[0] }}-ref">{{ category[0] | join: "/" }}</a>
				{% endfor %}
			  {% endif %}
			  {% assign categories_list = nil %}
			</ul>
		</div>		
		<div class="links col">
			<h2>Links</h2>
			<ul>
				{% include friend_links %}
			</ul>
		</div>
		<div class="copyright">
			<p>&copy; 2002-2012 <a href="http://im47.cn">im47.cn</a>, Inc. All rights reserved. 苏ICP备12061995</p>
		</div>
	</div>
</footer>

{% include JB/analytics %}

<script type="text/javascript" src="/assets/js/jquery.backstretch.min.js"></script>
<script type="text/javascript">
$('body').backstretch([
  '/assets/images/back1.jpg',
  '/assets/images/back2.jpg',
  '/assets/images/back3.jpg',
  '/assets/images/back4.jpg'
], {
        fade: 750,
        duration: 10000
    });
</script>
  </body>
</html>
